       body {
        margin: 25px;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      header {
        padding-top: 10px;
      }
       nav {
         background-color: #C8D5DB;
         white-space: nowrap;
         display: inline-block;
         padding: 0 5px;
         font-weight: bold;
       }
       nav a:hover {
         text-decoration: underline;
       }

       nav img{
           margin-top: 20px;
            margin-right: 20px;
           margin-left: 20px;
       }

      h1 {
        font-size: 28px;
        color: #000;
      }
      a.canClick{
          text-decoration:underline;
          color:navy;
      }

       #listTable{
           font-size:20px;
           font-family: "Arial";
           margin-left: 5px;
       }
       input[type=button]{
           box-shadow:inset 0px 1px 0px 0px #000000;
           background-color:#53aed9;
           border-radius:20px;
        border:1px solid #120f12;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:12px;
        font-weight:bold;
        padding:3px 10px;
        text-decoration:none;
        text-shadow:1px 1px 0px #000000;
       }